services:
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    container_name: fastapi_api
    ports:
      - "8000:8000"
    env_file:
      - path: .env.docker
        required: true
    restart: unless-stopped
    networks:
      - sub-services
    depends_on:
      - qdrant

  frontend:
    build:
      context: ./app
      dockerfile: Dockerfile
    container_name: vue_app
    ports:
      - "80:80"
    restart: unless-stopped
    networks:
      - sub-services
    env_file:
      - path: .env.docker
        required: true
    volumes:
      - ./app/nginx.conf:/etc/nginx/conf.d/default.conf

  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    ports:
      - "200:6333"
      - "201:6334"
    volumes:
      - ./qdrant_data:/qdrant/storage
    restart: unless-stopped
    networks:
      - sub-services
      
  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "100:27017"
    volumes:
      - ./mongo_data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: mongo_user
      MONGO_INITDB_ROOT_PASSWORD: mongo_password
    networks:
      - sub-services

  minio:
    image: quay.io/minio/minio:RELEASE.2025-04-22T22-12-26Z
    container_name: ai-minio
    restart: unless-stopped
    command: server /data --console-address ":401"
    ports:
      - "400:9000"
      - "401:401"
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: adminpassword
      TZ: Europe/Istanbul
    volumes:
      - minio-data:/data
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    networks:
      - sub-services

volumes:
  minio-data:

networks:
  sub-services:
    driver: bridge